*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
        @font-face {
            font-family: Baby Darling;
            src: url(../vendor/fonts/Baby-Darling.ttf)
        }
        @font-face {
            font-family: a Among You;
            src: url(../vendor/fonts/aAmongYou.ttf)
        }
        body{
            background: linear-gradient(45deg, #303A40,#395363);
            background-repeat: no-repeat;
            min-height: 100vh;
            min-width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        main.container-login{
            background-color: #EBEBEB;
            max-width: 100%;
            min-height: 30vh;
            text-align:center;
            border-radius: 10px;
            padding: 2rem;
        }
        main.container-login h1{
            font-weight: 500;
            color: #000000;
            font-family:'Baby Darling','Courier New', Courier, monospace;
            margin-bottom: 2rem; 
        }
        main.container-login form{
            display: flex;
            flex-direction: column;
        }
        .input-field{
            position: relative;
        }
        form .input-field:first-child {
            margin-bottom: 1.5rem;
        }
        .input-field input{
            outline: none;
            font-size: 1rem;
            }
        .image_ufam{
            width: 13vh;
            height:13vh;
            border-radius: 50%;
        }
        .input-field input::placeholder{
            color: rgb(0, 0, 0,0.8);
        }
        main.container-login form input[type="submit"]{
            margin-bottom:0.5rem;
            padding: 0.4rem;
            background: linear-gradient(to left, #009688, #25f7e2);
            border-radius: 8px;
            font-size: 0.9rem;
            font-weight:400;
            font-family:'a Among You','Courier New', Courier, monospace;
            cursor: pointer;
        }
        main.container-login form input[type="checkbox"]{
            margin-top:2rem;
            margin-bottom:1.5rem;           
        }      
        .input-field .lined::before{
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: -5px;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
        }
        .input-field .lined::after{
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: -5px;
            left: 0;
            background: linear-gradient(45deg, #25f7e2, #009688);
            transform: scaleX(0);
            transition: all .3s ease-in-out;
            transform-origin: left;
        }
        .input-field input:focus ~ .lined::after {
            transform: scaleX(1);
        }
        main.container-login form input[type="submit"]:hover{
            letter-spacing: 0.8px;
        }

        @media (max-width: 1000px) {
            main.container-login{
                width: 96%;
                height: 60vh;
            }
            .input-field input{                
                font-size: 4rem;
            }
            main.container-login h1{
                font-size: 6rem; 
            }
            main.container-login form input[type="submit"], main.container-login form label{
                margin-bottom: 2rem;
                margin-top: 1rem;
                font-size: 4rem;  
            }
            form .input-field:first-child {
                margin-bottom: 2rem;
            }
            
            
        }